# Note: I ALSO created a dataframe for all images without the Kaggle images 
---
# As for the README, I am expalaining my workflow considering the Kaggle images since considering both image sources gave me a higher val_loss score

In [29]:
import cv2
import numpy as np
import pandas as pd

In [40]:
#setting up columns for df of pixels
pixel_list = []
for i in range(30_000):
    pixel_name = f'pixel{i}'
    pixel_list.append(pixel_name)

In [69]:
#setting up columns names to be pixel list (from pixel0 to pixel29999)
tomato = pd.DataFrame(columns = pixel_list )

In [70]:
#sanity check
tomato

Empty DataFrame
Columns: [pixel0, pixel1, pixel2, pixel3, pixel4, pixel5, pixel6, pixel7, pixel8, pixel9, pixel10, pixel11, pixel12, pixel13, pixel14, pixel15, pixel16, pixel17, pixel18, pixel19, pixel20, pixel21, pixel22, pixel23, pixel24, pixel25, pixel26, pixel27, pixel28, pixel29, pixel30, pixel31, pixel32, pixel33, pixel34, pixel35, pixel36, pixel37, pixel38, pixel39, pixel40, pixel41, pixel42, pixel43, pixel44, pixel45, pixel46, pixel47, pixel48, pixel49, pixel50, pixel51, pixel52, pixel53, pixel54, pixel55, pixel56, pixel57, pixel58, pixel59, pixel60, pixel61, pixel62, pixel63, pixel64, pixel65, pixel66, pixel67, pixel68, pixel69, pixel70, pixel71, pixel72, pixel73, pixel74, pixel75, pixel76, pixel77, pixel78, pixel79, pixel80, pixel81, pixel82, pixel83, pixel84, pixel85, pixel86, pixel87, pixel88, pixel89, pixel90, pixel91, pixel92, pixel93, pixel94, pixel95, pixel96, pixel97, pixel98, pixel99, ...]
Index: []

[0 rows x 30000 columns]

In [ ]:
produce_amount = 8_000
for i in range(1, produce_amount+ 1):
    try:
        # set up image path 
        # remember, we're getting our images from 03_{produce_name}_resize from the images folder 
        img_path = f'./images/03_tomato_resize/{i}_tomato.jpg'
        img = cv2.imread(img_path, 1) # read image as color. Set second parameter to 1 if rgb is required 
        
        # this code turns the image to 30,000 numbers since 100*100*3 = 30,000
        row = img.ravel()
        
        #this is a sanity check
        # all images are 100x100x3 so this code would run for every image
        if len(row) == 30_000:
            
            #this code appends the new row of pixels to the dataframe 
            tomato.loc[i] = row
            print(f'added image {i}')
    except: 
        pass

In [72]:
#sanity check for each produce item 
tomato.shape

(1692, 30000)

In [74]:
#sanity check 
tomato.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel29990,pixel29991,pixel29992,pixel29993,pixel29994,pixel29995,pixel29996,pixel29997,pixel29998,pixel29999
1,244,244,244,244,244,244,244,244,244,244,...,204,200,198,204,201,199,205,203,201,207
2,23,2,141,24,3,142,22,3,144,20,...,202,0,4,207,0,5,208,1,7,210
3,26,47,49,36,56,57,36,51,47,37,...,14,17,16,12,17,16,12,17,16,12
4,6,13,68,1,5,40,42,39,35,197,...,126,6,1,162,6,2,158,43,39,194
5,237,255,232,237,255,233,239,255,235,239,...,234,253,244,235,254,245,236,255,246,237

In [75]:
#sanity check
tomato.isnull().sum().sum()

0

In [76]:
#naming the target to tomato
tomato['target'] = 'tomato'
tomato.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel29991,pixel29992,pixel29993,pixel29994,pixel29995,pixel29996,pixel29997,pixel29998,pixel29999,target
1,244,244,244,244,244,244,244,244,244,244,...,200,198,204,201,199,205,203,201,207,tomato
2,23,2,141,24,3,142,22,3,144,20,...,0,4,207,0,5,208,1,7,210,tomato
3,26,47,49,36,56,57,36,51,47,37,...,17,16,12,17,16,12,17,16,12,tomato
4,6,13,68,1,5,40,42,39,35,197,...,6,1,162,6,2,158,43,39,194,tomato
5,237,255,232,237,255,233,239,255,235,239,...,253,244,235,254,245,236,255,246,237,tomato

In [78]:
#saving the dataframe 
tomato.to_csv('./datasets/dataset_with_kaggle_pics/tomato.csv', index = False)

# Testing to Make sure our image is correct

In [ ]:
array_test = np.array(apple.iloc[[0]])

In [ ]:
array_test[0]

In [ ]:
array_test= array_test[0]

In [ ]:
array_test=array_test[0:10_000]

In [ ]:
len(array_test)

In [ ]:
array_test = array_test.reshape(100,100)

In [ ]:
array_test = array_test.astype(np.uint8)

In [ ]:
import numpy as np
from PIL import Image



# Creates PIL image
img = Image.fromarray(array_test, mode = 'RGB')
img.show()